.again {
    position: relative;
    margin: 1em;
    font-size: 1.5em;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.head {
    font-size: 100px;
    display: block;
}

.quit {
    display: block;
    margin: 0.1em;
    color: red;
    font-size: 2em;
    float: left;
}

.quit:before {
    content: "\00d7";
}
