.scoreboard {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin: 1em;
}

table {
    margin: 1em;
    outline: 2px solid black;
}

thead {
    background-color: #b1b1b1;
}

thead,
tbody {
    border: 0.1em solid black;
}

.table-active {
    background-color: red;
}
